.link{
    color: black;
    font-size: 18px;
    margin-left: 30px;
    transition: all 0.2s;
    position: relative;
    padding: 23px 0;
}

.link:hover{
    color: #fff;
    text-decoration: none;
}

.link__active{
    /*position: relative;*/
    color: #fff;
    font-size: 18px;
    margin-left: 30px;
    padding: 23px 0;
}

.link__active:hover {
    color: #fff;
    text-decoration: none;
}


